
<table class="friends-table primary">
  <thead>
    <tr>
      <th {{action "setSortBy" "firstName"}}>Name</th>
      <th {{action "setSortBy" "totalArticles"}}>articles</th>
    </tr>
  </thead>
    <tbody>
      {{#each model as |friend|}}
      <tr>
        <td>{{link-to friend.fullName "articles" friend}}</td>
        <td><a href="#" {{action "delete" friend}}>Delete</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{outlet}}
